@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

/* HEADER - MENU*/
header {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav-wrapper {
  padding: 1rem;
  margin: 0; }

.nav-log {
  border-bottom: 1px solid #8F00FF;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem; }
  .nav-log .navlog-left {
    display: flex; }
    .nav-log .navlog-left a {
      font-size: 1rem;
      color: white;
      text-decoration: none; }
  .nav-log .navlo-right {
    display: flex;
    gap: 2rem; }
    .nav-log .navlo-right a {
      font-size: 1rem;
      color: white;
      text-decoration: none; }

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0; }

nav .menu-logo {
  max-width: 5rem; }

.logo-resp {
  display: none; }

nav .menu {
  display: flex; }
  nav .menu ul {
    display: flex;
    gap: 2rem;
    margin: 0rem; }
    nav .menu ul li {
      list-style-type: none; }
      nav .menu ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem; }

nav #toggle, nav label {
  display: none; }

.busca-cart {
  display: flex;
  align-items: center; }
  .busca-cart .buscador {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 10px; }
    .busca-cart .buscador input {
      flex: 1;
      max-width: 12.5rem;
      height: 1.75rem;
      align-items: center;
      border-radius: 14px;
      padding-left: 1rem; }
    .busca-cart .buscador img {
      width: auto;
      height: 2.5rem;
      padding: 0px 1rem; }
  .busca-cart .cart {
    max-width: 3rem; }
    .busca-cart .cart img {
      max-width: 3rem; }

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.seccion-container {
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; }
  .seccion-container h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
    padding: 2rem; }
  .seccion-container h2 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    padding: 1rem;
    border-top: 2px solid #8F00FF;
    margin-top: 2rem;
    width: 100%; }
  .seccion-container .destacados {
    max-width: 75rem;
    display: flex;
    gap: 1.875rem;
    justify-content: center;
    align-items: center; }
  .seccion-container .seguinos-redes {
    max-width: 75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    margin: 0; }
    .seccion-container .seguinos-redes img {
      width: auto;
      height: 7rem;
      padding: 0 1.25rem 1.5rem; }
  .seccion-container .seccion-info {
    max-width: 75rem;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0 0.3rem; }
    .seccion-container .seccion-info .info-info {
      width: 100%;
      justify-content: start;
      margin: 0; }
      .seccion-container .seccion-info .info-info .info-titulo {
        font-size: 1.4rem;
        font-weight: 600;
        color: black;
        text-align: center; }
      .seccion-container .seccion-info .info-info .info-detalle {
        font-size: 1.1rem;
        font-weight: 500;
        color: black;
        text-align: center;
        align-items: start;
        justify-content: space-between; }
  .seccion-container .quienes-info {
    max-width: 75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    row-gap: 1rem;
    column-gap: 2rem; }
    .seccion-container .quienes-info img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden; }
    .seccion-container .quienes-info p {
      width: auto;
      height: auto;
      font-size: 1.2rem;
      text-align: left; }
    .seccion-container .quienes-info .info-img1 {
      grid-row: 1;
      grid-column: 1; }
    .seccion-container .quienes-info .info-txt1 {
      grid-row: 1;
      grid-column: 2; }
    .seccion-container .quienes-info .info-img2 {
      grid-row: 2;
      grid-column: 2; }
    .seccion-container .quienes-info .info-txt2 {
      grid-row: 2;
      grid-column: 1; }

.card {
  width: 23rem;
  height: 40rem;
  border-radius: 1%;
  overflow: hidden;
  box-shadow: 2px 2px 5px grey; }
  .card img {
    width: 100%;
    height: 25rem;
    object-fit: cover; }
  .card div {
    width: 100%;
    height: 15rem;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .card div h5 {
      font-size: 1.3rem;
      font-weight: 600; }
    .card div h4 {
      font-size: 2rem;
      font-weight: 800; }
    .card div p {
      font-size: 1.2rem;
      font-weight: 400; }
    .card div button {
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      background-color: #8F00FF;
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 2px 2px 5px grey; }

footer {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }
  footer .footer-section {
    max-width: 75rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 1rem; }
    footer .footer-section .footer-column {
      max-width: 21.25rem;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding: 1rem; }
      footer .footer-section .footer-column p {
        color: white;
        font-size: 1rem;
        font-weight: bold;
        margin: 0; }
      footer .footer-section .footer-column ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 1rem 0; }
        footer .footer-section .footer-column ul li a {
          color: white;
          text-decoration: none;
          font-size: 1rem;
          align-items: start; }
      footer .footer-section .footer-column .medios-pago {
        display: grid;
        grid-template-columns: 2rem 2rem 2rem;
        grid-template-rows: 2rem 2rem;
        grid-area: "credit-card credit-card credit-card credit-card" "credit-card credit-card credit-card credit-card";
        column-gap: 1rem;
        row-gap: 1rem; }
        footer .footer-section .footer-column .medios-pago img {
          height: 1.8rem; }
      footer .footer-section .footer-column .contacto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        footer .footer-section .footer-column .contacto img {
          height: 2rem;
          padding: 0 0.5rem;
          margin: 5px 0; }
  footer .footer-copy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0; }
    footer .footer-copy p {
      display: flex;
      font-size: 1rem;
      color: white;
      margin: 0;
      padding: 0; }

.img-titulo {
  margin: 2rem; }
  .img-titulo .una-linea {
    max-width: 80%;
    height: auto; }
  .img-titulo .dos-lineas {
    display: none; }

.seccion-container {
  max-width: 75rem;
  padding-bottom: 2rem; }
  .seccion-container .h1-secciones {
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
    padding: 2rem;
    border-top: 2px solid #8F00FF;
    width: 100%; }

.filtro {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  background-color: #8F00FF;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px grey; }

.filtro-div .filtro-producto {
  width: 12.5rem;
  display: flex;
  align-items: start;
  justify-content: start; }

.filtro-div .filtro {
  width: 12.5rem;
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column; }

.filtro-div .filtro-titulo {
  display: block;
  padding: 1rem 0rem; }
  .filtro-div .filtro-titulo .filtro-titulo li {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: .1875rem; }
    .filtro-div .filtro-titulo .filtro-titulo li .filtro-titulo h2 {
      font-size: 1rem;
      list-style: none; }

.filtro-div .filtro-busqueda {
  display: block; }
  .filtro-div .filtro-busqueda li {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: .1875rem;
    list-style: none; }

.tienda-produ {
  max-width: 85%;
  display: flex;
  flex-wrap: wrap; }
  .tienda-produ div .card-conte {
    padding: 2rem 2rem; }
    .tienda-produ div .card-conte .card {
      width: 20rem;
      height: 35rem;
      border-radius: 1%;
      overflow: hidden;
      box-shadow: 2px 2px 5px grey; }
      .tienda-produ div .card-conte .card img {
        width: 100%;
        height: 20rem;
        object-fit: cover; }
      .tienda-produ div .card-conte .card div {
        width: 100%;
        height: 15rem;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .tienda-produ div .card-conte .card div h5 {
          font-size: 1.3rem;
          font-weight: 600; }
        .tienda-produ div .card-conte .card div h4 {
          font-size: 2rem;
          font-weight: 800; }
        .tienda-produ div .card-conte .card div p {
          font-size: 1.2rem;
          font-weight: 400; }
        .tienda-produ div .card-conte .card div button {
          font-size: 1.5rem;
          font-weight: 700;
          color: white;
          background-color: #8F00FF;
          padding: 1rem;
          border-radius: 1rem;
          box-shadow: 2px 2px 5px grey; }

@media (max-width: 1250px) {
  nav .menu ul li a {
    font-size: 1.5rem; }
  .busca-cart .buscador input {
    max-width: 6.25rem; }
  .busca-cart .buscador img {
    height: 2rem; }
  .cart img {
    max-width: 2rem; } }

@media (max-width: 1020px) {
  nav .menu-logo {
    max-width: 4rem; }
  nav .menu ul {
    gap: 1rem; }
    nav .menu ul li a {
      font-size: 1rem; }
  .busca-cart .cart {
    max-width: 2rem; }
    .busca-cart .cart img {
      max-width: 2rem; }
  .buscador input {
    max-width: auto; } }

@media (max-width: 768px) {
  .menu-principal {
    flex-wrap: nowrap; }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0px; }
  nav label {
    display: flex;
    flex-direction: column;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0 5rem; }
  nav #toggle:checked ~ .menu {
    height: 100%; }
  .seccion-container {
    max-width: 100%; }
    .seccion-container .seccion-info {
      max-width: 100%;
      margin: 0;
      padding: 0; }
      .seccion-container .seccion-info .info-info {
        width: 33%;
        padding: 1rem 0px;
        margin: 0; }
    .seccion-container .quienes-info {
      max-width: 90%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      column-gap: 0px;
      row-gap: 2rem;
      justify-content: center;
      align-items: center; }
      .seccion-container .quienes-info .info-img1 {
        grid-column: 1/2;
        grid-row: 1/2; }
      .seccion-container .quienes-info .info-txt1 {
        grid-column: 1/2;
        grid-row: 2/3; }
      .seccion-container .quienes-info .info-img2 {
        grid-column: 1/2;
        grid-row: 3/4; }
      .seccion-container .quienes-info .info-txt2 {
        grid-column: 1/2;
        grid-row: 4/5; }
  .tienda-produ {
    justify-content: center; }
    .tienda-produ div .card-conte {
      padding: 1rem 1rem; }
      .tienda-produ div .card-conte .card {
        width: 15rem;
        height: 30rem; }
        .tienda-produ div .card-conte .card img {
          height: 17rem; }
        .tienda-produ div .card-conte .card div {
          width: 100%;
          height: 14rem; }
          .tienda-produ div .card-conte .card div h5 {
            font-size: 1rem; }
          .tienda-produ div .card-conte .card div h4 {
            font-size: 1.5rem; }
          .tienda-produ div .card-conte .card div p {
            font-size: 1.1rem; }
          .tienda-produ div .card-conte .card div button {
            font-size: 1.2rem;
            font-weight: 700; } }

@media (max-width: 425px) {
  .nav-log {
    flex-direction: column; }
    .nav-log .navlog-left {
      display: none; }
    .nav-log .navlo-right {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0; }
      .nav-log .navlo-right a {
        padding: 0.5rem 0; }
  .menu-principal {
    flex-direction: column; }
  .menu-logo {
    display: none; }
  .logo-resp {
    display: block;
    width: 17.5rem;
    height: auto;
    padding: .1875rem;
    margin: .0625rem; }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0px; }
  nav label {
    display: flex;
    flex-direction: column;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 1rem; }
  nav #toggle:checked ~ .menu {
    height: 100%; }
  .quienes-info {
    max-width: 24rem;
    margin: 0;
    padding: 0;
    justify-content: center; }
    .quienes-info img {
      max-width: 24rem;
      height: auto;
      object-fit: cover; }
  .seccion-container {
    width: 90;
    padding: 0px 1rem; }
    .seccion-container h1 {
      font-size: 2.3rem;
      padding: 1rem 0px; }
    .seccion-container h2 {
      font-size: 2rem; }
    .seccion-container .destacados {
      flex-direction: column; }
      .seccion-container .destacados .card {
        width: 90%; }
    .seccion-container .seccion-info {
      height: auto;
      display: flex;
      flex-direction: column;
      max-width: 23rem;
      padding: 0;
      margin: 0; }
      .seccion-container .seccion-info .seguinos-redes {
        max-width: 20rem;
        height: auto;
        padding: 0; }
      .seccion-container .seccion-info .info-info {
        display: flex;
        width: auto;
        flex-direction: column;
        padding: 1rem 0px;
        margin: 0; }
  footer {
    flex-direction: column; }
    footer .footer-section {
      width: auto;
      flex-direction: column;
      justify-content: center; }
      footer .footer-section .footer-column {
        width: 18.75rem; }
    footer .card {
      max-width: 90%;
      height: auto; }
    footer .img-titulo .una-linea {
      display: none; }
    footer .img-titulo .dos-lineas {
      display: flex;
      max-width: 80%;
      height: auto; }
    footer .footer-copy .copy {
      font-size: 0.8rem; } }

@media (max-width: 375px) {
  nav .menu {
    width: 90%; }
  .quienes-info {
    max-width: 18.75rem; }
    .quienes-info img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      padding: 0;
      margin: 0; } }
