/**COLORES*/
$color-principal: rgb(255, 255, 255);
$color-secundario: #7D2FF6;
$color-sombras: #64007E;
$color-variante: rgb(131, 1, 1);
$color-texto: rgb(0,0,0);
$backg-principal: rgb(0,0,0);
$backg-secundario: rgb(235, 235, 235);

/*OTROS*/
